.productFeatures {
  background-color: #f6f6f6;
  width: 100%;
  ul {
    width: 100%;
    padding: .4rem;
    background-color: #fff;
    li {
      height: 3rem;
      width: 100%;
      background: url('../../../images/features/i1.png') no-repeat;
      background-size: 100%;
      margin: 0 auto .4rem;
      &:nth-of-type(2) {
        background: url('../../../images/features/i2.png') no-repeat;
        background-size: 100%;
      }
      &:nth-of-type(3) {
        background: url('../../../images/features/i3.png') no-repeat;
        background-size: 100%;
      }
      &:nth-of-type(4) {
        background: url('../../../images/features/i4.png') no-repeat;
        background-size: 100%;
      }
    }
  }
}